<mat-card>
  <form #employeeForm="ngForm" (ngSubmit)="onSaveEmployee(employeeForm)">

    <input hidden matInput name="id" placeholder="id" [ngModel]="employee?.id" #id="ngModel">

    <mat-form-field>
      <input matInput name="firstName" placeholder="FirstName" [ngModel]="employee?.firstName" #firstName="ngModel" required>
      <mat-error *ngIf="firstName.invalid">Please enter a Firstname</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="middleInitial" placeholder="MI" [ngModel]="employee?.middleInitial" #middleInitial="ngModel">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="lastName" placeholder="Lastname" [ngModel]="employee?.lastName" #lastName="ngModel" required>
      <mat-error *ngIf="lastName.invalid">Please enter a Lastname</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="dob" placeholder="DOB" [ngModel]="employee?.dob" #dob="ngModel">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="email" placeholder="E-mail" [ngModel]="employee?.email" #email="ngModel" required>
      <mat-error *ngIf="email.invalid">Please enter an email address</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="phone" placeholder="Phone" [ngModel]="employee?.phone" #phone="ngModel" required>
      <mat-error *ngIf="phone.invalid">Please enter a phone number</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="position" placeholder="Position" [ngModel]="employee?.position" #position="ngModel">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="office" placeholder="Office" [ngModel]="employee?.office" #office="ngModel">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="salary" placeholder="Salary" [ngModel]="employee?.salary" #salary="ngModel">
    </mat-form-field>

    <button mat-raised-button color="accent" [disabled]="employeeForm.invalid" type="submit">SAVE EMPLOYEE</button>

  </form>
</mat-card>
